<div class="device-widget controller">
    <div class='device-icon' style='background-image:url("%.icon%");background-size: 65px 65px;width:70px;height:70px;margin-right:5px'>
    </div>
    <div class="device-header" style="%.status|"display:none;"%">%.channel%. %.name%</div>
    <div class="device-header" style="%.status|";display:none"%">Turned off</div>
    <div class="device-details">%.progname%</div>
    <div class="device-details">Volume: <input type="range" class="custom-range" min="0" max="100" id="customRange2" value="%.volume%"></div> 
</div>


